body {
    display: block;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h4 {
    font-size: 21px;
    color: gray;
    font-weight: normal;
}

a {
    color: aquamarine;
    text-decoration: underline;
    cursor: pointer;
}

video {
    object-fit: contain;
    margin-top: 40px;
}

.icon {
    background: url('./icons/phone.webp');
    height: 100px;
    width: 64px;
    display: block;
}

p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

footer {
    text-align: right;
}